<script setup lang="ts">

</script>

<template>
  <h1 class="app-header-heading">Welcome to ZLO<br/>
    <span role="doc-subtitle" class="sub-title">The blazingly fast next-level note app</span>
  </h1>
</template>

<style scoped>
.app-header-heading {
  text-align: center;
}
.sub-title {
  font-size: 75%;
}
</style>
