<script setup lang="ts">
import AppHeader from "./components/layout/AppHeader.vue";
import AppFooter from "./components/layout/AppFooter.vue";
import AppMainContent from "./components/layout/AppMainContent.vue";
import AppNavigation from './components/layout/AppNavigation.vue';
</script>

<template id="app">
  <AppHeader class="header"/>
  <AppNavigation class="navbar"/>
  <AppMainContent class="content"/>
  <AppFooter class="footer"/>
</template>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #364152;
  background: white;
  display: grid;
  grid-template-columns: 10em auto;
  grid-template-rows: 10em auto 3em;
  grid-template-areas: "header header"
                       "navbar content"
                       "footer footer";
}

.header {
  grid-area: header;
  border: #27303f solid;
}

.navbar {
  grid-area: navbar;
  border: #27303f solid;
}

.content {
  grid-area: content;
  border: #27303f solid;
}

.footer {
  grid-area: footer;
  border: #27303f solid;
}

</style>
